
APP_ENV = 
APP_DEBUG = 
APP_URL = 

FRONTEND_URL =

DB_HOST = 
DB_PORT =
DB_NAME =
DB_USER =
DB_PASS =
DB_CHARSET =

JWT_SECRET =
JWT_EXPIRES =

MAIL_HOST =
MAIL_PORT =
MAIL_USERNAME =
MAIL_PASSWORD =
MAIL_ECRYPTION =
MAIL_FROM =
MAIL_FROM_NAME =

SUPERADMIN_EMAIL =
SUPERADMIN_PASSWORD =
SUPERADMIN_NAME =

